.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.container-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.container-2 {
  padding-left: 20px;
}
.container-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}
.initial-cont {
  width: 40px;
  height: 40px;
  padding: 15px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  color: #dee0e3;
}
.name {
  padding-right: 30px;
  color: #334155;
  font-size: 17px;
}
.date {
  color: #94a3b8;
  font-size: 10px;
}
.comment {
  color: #64748b;
  font-size: 15px;
}
.like-del-btn {
  background-color: transparent;
  width: auto;
  border: 0px;
  outline: none;
  cursor: pointer;
  color: #7e858e;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.like-img {
  margin-right: 10px;
  width: 25px;
  margin-bottom: 5px;
}
.delete-img {
  width: 25px;
}
.list-container {
  border-bottom: 2px solid #a6b2c4d5;
  margin-bottom: 10px;
}

@media (min-width: 567px) {
  .name {
    font-size: 21px;
  }
  .date {
    font-size: 15px;
  }
  .comment {
    font-size: 18px;
  }
  .delete-img {
    width: 26px;
  }
  .like-del-btn {
    font-size: 18px;
  }
  .like-img {
    width: 26px;
  }
}
